# Gemini API Key (Required for AI features)
GEMINI_API_KEY=AIzaSyDjS_ueZBhNmIE0FsJAAB6Ng1b8ZbdcRxY

# Supabase Configuration
VITE_SUPABASE_URL=https://xistgrankjxcaqypncar.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_YOmcbJpTN480mcFdf4FeqA_-9nS0O5d
SUPABASE_SERVICE_ROLE_KEY=

# Stripe Configuration
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TKFB4EQajfHxphRg2pq71i4ohozYGJP4J4E1JYyH2Gic0OUAi4Imj9IX7r4QGOSDoX8qn2ZRJl8ch1P5K4rimfd00brjeOhGC
STRIPE_SECRET_KEY=sk_test_51TKFB4EQajfHxphRghbQiT2Kx3ERSXVpdoGuQ0irHSwT44LJL033A8LnxS69sz7rflHbRz5ziXzAPb8Zs6Zb7T0l00KUfw1PXE
STRIPE_WEBHOOK_SECRET=

# Resend Configuration
RESEND_API_KEY=
